.button {
  display: flex;
  justify-content: center;
  padding: spacing(half);
  border-radius: rem(10);
  background: $button-default-background;
  box-shadow: $button-default-box-shadow;
  border: 0;
  display: inline-flex;
  text-decoration: none;
  @include font-s700;
  font-size: rem(16);
  color: $button-default-color;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  min-width: 44px;

  &,
  & > .label {
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  &:hover,
  &.selected {
    background: $button-default-hover-background;
    cursor: pointer;
  }

  &:disabled {
    background: $button-default-disabled-background;
    color: $medium-gray;
    cursor: not-allowed;
  }
}
